#camara{
  background-color: #BED499;
}

#bombox{
  background-color: #A3DCE6;
}
#juego{
  background-color:rgba(252, 184, 193, 0.918);
}
#pixel{
  background-color: #E1E3EE;  
}
#switch{
  background-color: #FF5C61;
}
#laptop{
  background-color: #E2AFAA;
}
#go-pro{
  background-color: #E1E3EE;
}
.precio{
  padding-top: 7%;
  text-align: center;
  font-weight: bold;
  color:#4a4a4a;
  font-size: 18px;
}
#drone{
  background-color: #FADDA4;
}
#xbox{
  background-color: #abe172;
}
#ps4{
  background-color: #4ECDED;
}
.gris{
  background-color: #F5F5F5;
}
.columnas-tecnologia{
  margin: 0% 5% 0% 5%;
  padding: 0% 5% 0% 5% ;
}
#filtros{
  padding-bottom: .5%;
  padding-top: .5%;
}
#precio{
  color: white;
  font-weight: bold;
}
#marca{
  color: white;
  font-weight: bold;
}
#a-z{
  color: white;
  font-weight: bold;
}
.pie-pagina{
  padding-top: 1.5%;
  text-align: center;
  background-color: #F5F5F5;
  color:black;
  padding-bottom: 2%;
}
.oscuro{
  background-color: #080808;
  color:white;
}
#subtitulo {
  font-size: 3vh;
}
#titulo{
  font-size: 5vh;
}
#descuento{
  width: 40%;
}
#mail{
  width: 50%;
}
#link-cupon{
  color: white;
}
/*#link-cupon:hover {
  color: black;
}

.cupon-banner:hover {
  background-color:white;
  color:black;
}
*/
.cupon-banner {
  text-align: center; 
  padding: 1%;
  background-color:black;
}
#cupon-subtitle{
  color:black;
  font-weight: bold;
}
#apple-watch-inclinado{
    display:none;
  } 
  @media screen 
    and (device-width: 360px) 
    and (device-height: 640px) 
    and (-webkit-device-pixel-ratio: 3) {
      #apple-watch-inclinado{
        display:none;
      }
      #apple-watch-vertical{
        display:inline;
      }
  }
  .new-products-tittle{
    padding-bottom:3%;
    font-weight:bold;
    text-align:center;
    font-size:20px;
  }
  .section-new-products{
    background-color:#EEF1F4;
    padding-top:3%;
  }
  .new-product{
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color:transparent;
    background-color:#FFFFFF;
    margin:1%;
  }
  .is-white{
    background-color: white;
  }
  #watch-gold{
    padding:0;
  }
  .columns-testimony{
      margin: 9%;
      margin-top: 0;
  }
  .testimony{
    margin:10%;
    margin-right: 0;
  }
  .column-testimony{
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color:white;
    background: linear-gradient(-300deg, #E4ECF0, white);
  }
  .testimonio{
    padding-top:4%;
    text-align:center;
    font-size:30px;
    font-weight:bold;
  }
  .fa-shopping-cart{
    font-size:25px;
  }
  #tittle-center{
    font-weight:bold;
    font-size:30px;
  }
  .center{
    text-align:center;
  }
  #fitbit{
    width:70%;
    display: block;
    margin-left: auto;
    margin-right: auto;  
  }
  #lipstick{
    width: 40%;
  }
  #dumblell{
    width: 55%;
  }
  .columnas{
    margin: 0% 10% 0% 10%;
    padding: 0% 10% 0% 10% ;
  }
  .column-borders{
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    border-color:white;
  }
  #amarillo{
    background-color:#FEF4A2;
  }
  #naranja{
    background-color:#FFDDCA;
  }
  #morado{
    background-color:#ECECEC;
  }
  #azul{
    background-color:#CCF8FF;
  }
  #rosa{
    background-color:#FFE1E1;
  }
  #morado-claro{
    background-color:#E1E3EE;
  }
  #naranja-claro{
    background-color:#FBF3E7;
  }
  #verde{
    background-color:#F1FBE7;
  }